@import "../../scss/index.scss";
.header__links {
  //border:1px solid red;

  a {
    position: relative;
    font-size: $font-sm;
    color: $grayishBlue;
    transition: color 300ms ease-in-out;
    &:not(:last-child) {
      margin-right: 32px;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      height: 5px;
      left: 0;
      right: 0;
      bottom: -29px;
      background: linear-gradient(to right, $limeGreen, $brightCyan);
      opacity: 0;
      transition: opacity 300ms ease-in-out;
    }
    &:hover {
      color: $darkBlue;
      &::before {
        opacity: 1;
      }
    }
  }
}
