@import "../../scss/index.scss";

.overlay {
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 3.71rem;
  left: 0px;
  bottom: 0px;
  right: 0px;

  background-image: linear-gradient($darkBlue, transparent);
  &.fade_in {
    display: block;
  }
  &.fade_out {
    display: none;
  }
}

//for mobile pass this as props in navgation items
.header__menu {
  background: $white;

  //top-bottom o left-right 1.rem
  // margin: 0px 1.5rem;
  //top-bottom padding over all
  padding: 1.625rem;
  margin-top: 1.5rem;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  //since its position absolute we cant use margin to place it in center
  //so 100%- total margin we need i( left + right)margin
  width: calc(100% - 3rem);
  //this combine gives you center menu
  left: 50%;
  transform: translateX(-50%);
  //
  a {
    display: block;
    //10px padding for inner ancor tag
    padding: 0.625rem;
    color: $darkBlue;
    text-align: center;
  }
}
