@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
//classname to add where its gonna be used
.fade_in {
  animation: fade-in 300ms ease-in-out forwards;
}
@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
//classname to add its gonna be used
.fade_out {
  animation: fade-out 1s ease-in-out forwards;
}
